*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.json linguist-language=JSON
*.md linguist-documentation
*.bat linguist-vendored
*.yml linguist-language=YAML